.test-tab, .add-test-case-btn {
  border: 2px solid transparent;
  background: none;
  padding: 8px 16px;
  margin : 8px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
  border-radius: 6px;
  user-select: none;
}

/* Status colors */
.test-tab.passed {
  color: #4caf50;
  border-color: #4caf50;
}

.test-tab.failed {
  color: #f44336;
  border-color: #f44336;
}

.test-tab.unevaluated {
  color: #ff8f00;
  border-color: #ff8f00;
}



/* Make sure status colors still apply when active */
.test-tab.active-tab.passed {
  color: #4caf50;
  box-shadow: 0 0 15px #4caf50;
  border-color: #4caf50;
  transform: scale(1.05);
}

.test-tab.active-tab.failed {
  color: #f44336;
  box-shadow: 0 0 15px #f44336;
  border-color: #f44336;
    transform: scale(1.05);
}

.test-tab.active-tab.unevaluated {
  color: #ff8f00;
  box-shadow: 0 0 15px #ff8f00;
  border-color: #ff8f00;
    transform: scale(1.05);
}

.add-test-case-btn{
  
  color: #ff8f00;
  border-color: #ff8f00;
}

