.amoutme-container {
  background-color: var(--base-grey);
  color: var(--text-color);
  max-width: 600px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(255 111 0 / 0.3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
}
